<header>

    <!-- our main logo -->
    <a id="logo" href="home-page">
        <img src="assets/bus logo.jpg" alt="Logo">
        
    </a>
  
    <!-- main navigation links -->
    <nav>
        <ul>
            
            <li><a (click)="back()">Go Back</a></li>
         </ul>
    </nav>
  </header>
<div id="ig">
    
    <!--<div id="pay1">
    <div id="pay">
        <h1>Payment Successful!</h1>
        <ul>
        <h3>Following are your Booking Details</h3>
        <li>Phone Number:</li>
        <li>Email ID:</li>
        <li>Ticket Number:</li>
        <li>Bus Number:</li>
        <li>Date Of Journey:</li>
        <li>Payment Mode:</li>
    </ul>
    <br>
    <p>Thank You For Using Safar as your Travelling Partner!</p>
    </div>
</div>-->
</div>